/* intro page */

.intro {
    height: 576px;
    padding: 0;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../../images/main-background-phone.jpeg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-container {
    z-index: 5;
    position: relative;
}

.intro-title {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 60px;
    line-height: 107%;
    margin: 0 auto;
    max-width: 608px;
}

.intro-title-container {
    color: white;
}

.intro-subtitle {
    max-width: 608px;
    padding: 0;
    margin: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.intro::before {
    content: "";
    background-color: black;
    opacity: 25%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intro-page {
    height: 100%;
}

/* about page */

.main-about {
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 80px 0 0 0;
}

.main-about-text {
    max-width: 600px;
    margin: 0;
    padding: 0 0 0 46px;
}

.main-about-title {
    font-family: Roboto Slab;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0 0 24px 0;
}

.main-about-info {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0 0 24px 0;
}

.main-about-picture {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    margin: 0 0 80px 0;
    padding: 0;
}

@media screen and (min-width: 720px) and (max-width: 1040px) {
    .intro {
        height: 400px;
    }
    .intro-container {
        max-width: 452px;
        margin: 0 auto;
    }
    .intro-title {
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 16px;
    }
    .main-about {
        height: 100%;
        padding-top: 60px;
    }
    .main-about-picture {
        width: 232px;
        height: 232px;
        margin-bottom: 60px;
    }
    .main-about-title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 16px;
    }
    .main-about-info {
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .intro {
        height: 536px;
        width: 100%;
        margin: 0 auto;
    }
    .intro-container {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .intro-title-container {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .intro-title {
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 16px;
    }
    .main-about {
        height: 100%;
        padding: 24px 0 24px 0;
    }
    .main-about-picture {
        width: 260px;
        height: 260px;
        margin-bottom: 24px;
    }
    .main-about-text {
        padding-left: 0;
        margin: 0 16px;
    }
    .main-about-title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 16px;
    }
    .main-about-info {
        padding-bottom: 16px;
    }
}