.main {
    height: 576px;
    padding: 0;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../../images/main-background-phone.jpeg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.main-container {
    z-index: 5;
    position: relative;
}

.main-title {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 60px;
    line-height: 107%;
    margin: 0 auto;
    max-width: 608px;
}

.main-title-container {
    color: white;
}

.main-subtitle {
    max-width: 608px;
    padding: 0;
    margin: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.main::before {
    content: "";
    background-color: black;
    opacity: 25%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-page {
    height: 100%;
}

@media screen and (min-width: 720px) and (max-width: 1040px) {
    .main {
        height: 400px;
    }
    .main-container {
        max-width: 452px;
        margin: 0 auto;
    }
    .main-title {
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .main {
        height: 536px;
        width: 100%;
        margin: 0 auto;
    }
    .main-container {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .main-title-container {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .main-title {
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 16px;
    }
}