.nav {
    margin: auto 0;
    padding: 0;
}

.nav_page_main {
    color: white;
}

.nav_page_saved-news {
    color: black;
}

.nav__menu {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    align-self: center;
    justify-items: center;
}

.nav__home {
    padding: 0;
    margin: auto 16px auto 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
}

.nav__home_page_main {
    color: white;
}

.nav__home_page_saved-news {
    color: black;
}

.nav__home_active {
    border-bottom: 2px solid white;
}

.nav__signin {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    width: 176px;
    height: 60px;
    margin: auto 0;
    text-align: center;
    padding: 0;
    border: 1px solid white;
    border-radius: 100px;
}

.nav__saved-articles {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    margin: auto 16px auto 0;
    padding: 0;
}

.nav__saved-articles_page_saved-news {
    color: black;
}

.nav__saved-articles_page_main {
    color: #B6BCBF;
}

.nav__saved-articles_active_page_main {
    border-bottom: 2px solid white;
}

.nav__saved-articles_active_page_saved-news {
    border-bottom: 2px solid black;
}

.nav__exit {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 24px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: white;
    text-align: left;
    margin: auto 0;
    padding: 0 10px;
    height: 48px;
    width: 110px;
    border-radius: 100px;
    text-overflow: ellipsis;
}

.nav__exit_page_saved-news {
    background-image: url('../../images/logout.svg');
    border: 1px solid #D1D2D6;
    color: black;
}

.nav__exit_page_main {
    color: white;
    background-image: url('../../images/logout_white.svg');
    border: 1px solid white;
}

.nav__close {
    display: none;
    line-height: 24px;
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    transform: rotate(45deg);
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 4;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .nav__home {
        line-height: 56px;
    }
    .nav__signin {
        height: 40px;
        line-height: 40px;
    }
    .nav__saved-articles {
        line-height: 56px;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .nav_is_hidden {
        display: none;
        opacity: 0;
    }
    .nav_page_main {
        background-color: #1A1B22;
    }
    .nav_page_saved-news {
        background-color: white;
    }
    .nav_is_open {
        transition: visibility 0s linear 0.5s, opacity 0.5s linear;
        width: 100%;
        height: 230px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        border-radius: 0 0 10px 10px;
    }
    .nav__menu {
        height: calc(100% - 80px);
        width: 100%;
        margin: 16px 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-between;
    }
    .nav__menu::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }
    .nav__menu_page_main {
        width: 100%;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
    }
    .nav__menu_page_saved-news {
        width: 100%;
        border-top: 2px solid #B6BCBF;
    }
    .nav__home {
        margin: 16px;
        line-height: 24px;
        padding: 0;
        width: 90%;
        z-index: 3;
        text-align: left;
    }
    .nav__home_active {
        padding-bottom: 0;
        border-bottom: 0;
    }
    .nav__signin {
        height: 58px;
        width: 90%;
        margin: 0 auto;
        z-index: 2;
    }
    .nav__saved-articles {
        line-height: 24px;
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }
    .nav__saved-articles_active {
        padding-bottom: 0;
        border-bottom: 0;
    }
    .nav__exit {
        width: 90%;
        margin-left: 18px;
    }
    .nav__close {
        display: block;
    }
    .nav__close_page_main {
        color: white;
    }
    .nav__close_page_saved-news {
        color: black;
    }
}