.navigation {
    margin: 0 7% 0 0;
    padding: 0;
}

.navigation__size_full {
    margin: 0;
    padding: 0;
    height: 80px;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navigation__size_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #1A1B22;
    border-radius: 0 0 10px 10px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.navigation__size_mobile::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.navigation__page_saved-news {
    background-color: white;
}

.navigation__mobile-menu {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 56px auto 0 auto;
    padding: 0;
    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation__mobile-menu-is-open {
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
}

.navigation__mobile-menu_page_main {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.navigation__mobile-menu_page_saved-news {
    border-top: 2px solid #B6BCBF;
}

.navigation__home {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 0;
    text-decoration: none;
}

.navigation__home_size_full {
    margin: auto 42px auto 0;
}

.navigation__home_size_mobile {
    width: 90%;
    margin: 0 auto 22px auto;
    padding: 0;
    z-index: 3;
}

.navigation__home_page_main {
    color: white;
}

.navigation__home_saved-news {
    color: black;
}

.navigation__saved-articles {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: black;
    margin: 0 42px 0 0;
    padding: 0;
}

.navigation__saved-articles:hover {
    padding-top: 2px;
    border-bottom: 2px solid black;
}

.navigation__signin {
    background-color: transparent;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: white;
    margin: auto 0;
    padding: 0;
    height: 48px;
    width: 176px;
    border: 1px solid white;
    color: white;
    border-radius: 100px;
}

.navigation__signin_page_saved-news {
    color: black;
    border: 1px solid black;
}

.navigation__signin_size_mobile {
    height: 58px;
    width: 90%;
    z-index: 2;
    margin: 0 auto;
}

.navigation__exit {
    background-color: transparent;
    background-image: url('../../images/logout.svg');
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 24px 24px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: white;
    text-align: left;
    margin: auto 0;
    padding: 0 10px;
    height: 40px;
    width: 100px;
    border: 1px solid #D1D2D6;
    color: black;
    border-radius: 100px;
}

.navigation__close {
    background-image: url('../../images/plus.svg');
    background-position: center;
    background-repeat: none;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    position: absolute;
    background-color: transparent;
    top: 16px;
    right: 16px;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .navigation__size_full {
        height: 56px;
    }
    .navigation__home:hover {
        height: 40px;
        padding-top: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .navigation__size_full {
        display: none;
    }
}