.news-list {
    background-color: #F5F6F7;
    margin: 0;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 16px;
    justify-content: center;
    align-content: center;
}

.news-list__title {
    grid-column: 1 / -1;
    font-family: Roboto Slab;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.news-list__show-more {
    grid-column: 1 / -1;
    background-color: white;
    border-radius: 80px;
    width: 288px;
    height: 64px;
    margin: 64px auto 0 auto;
    padding: 0;
}

.news-list__show-more:hover {
    background-color: #E8E8E8;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .news-list {
        padding-top: 20px;
        padding-bottom: 20px;
        grid-gap: 8px;
        grid-template-columns: repeat(auto-fit, 224px);
    }
    .news-list__title {
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 34px;
    }
    .news-list__show-more {
        margin-top: 32px;
        margin-bottom: 40px;
        background-color: white;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .news-list {
        grid-template-columns: repeat(auto-fit, 90%);
        grid-gap: 10px;
    }
    .news-list__title {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 34px;
    }
    .news-list__show-more {
        background-color: white;
        margin-top: 16px;
        margin-bottom: 32px;
        height: 56px;
    }
}