.nothing-found {
    margin: 0;
    padding: 0;
    background-color: #F5F6F7;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.nothing-found__mesage {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nothing-found__link {
    font-family: 'Inter', sans-serif;
    color: #2F71E5;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    text-align: center;
    padding: 5% 0 0 0;
}